#header 
{



	position : relative;
	top : -10px;
	margin-left : -10px;
	margin-right : -10px;
	height : 350px;

	background-color : black;
	
	
}

body {
    max-width: 100%;
    overflow-x: hidden;
}



#link
{	position : relative;
	top : 200px;
	left : 250px;
	height : 200px
	font-weight : 1200px;
	font-size : 40px;
	color : white;
	font-family : Estrangelo Edessa;
}

#heading 
{	font-family : Estrangelo Edessa;
	font-weight : 1200px;
	text-decoration : underline;
	font-size : 45px;
}

#signup
{
	
	background-color : green;
	
	font-family: Estrangelo Edessa;
	
	font-size : 25px;
	font-weight : 700px;
	color : white;
	cursor : hand;
	height : 60px;
	padding-left: 10px;
	padding-right: 10px;
	text-align : center;	
	border-top-left-radius: 8px;

	border-top-right-radius: 8px;

	border-bottom-left-radius: 8px;

	border-bottom-right-radius: 8px;

}


#Login
{

	background-color : Blue;
	
	font-family: Estrangelo Edessa;
	
	font-size : 25px;
	font-weight : 700px;
	color : white;
	
	height : 60px;
	padding-left: 10px;
	padding-right: 10px;
	text-align : center;	
	border-top-left-radius: 8px;

	border-top-right-radius: 8px;

	border-bottom-left-radius: 8px;

	border-bottom-right-radius: 8px;
	float : right;
		
	
}


#buttons
{
	position : relative;
	background-color :white;
	width : 800px;
	height:100px;
	
		
}

#lbuttons
{
	position : relative;
	right : 0px;
	top:0px;
	font-size : 20px;
	float : right;
	background-color :white;
	text-align : right;
	
}


textarea.inputsmall 
{
	
	width : 370px;
	height :50px;

	border : 2px #f4f57 solid;

	border-top-left-radius: 5px;

	border-top-right-radius: 5px;
	
	border-bottom-left-radius: 5px;

	border-bottom-right-radius: 5px;
	
font-family:sans-serif;

        font-size:20px;

 	resize : none;
	padding-top : 15px;
	padding-left : 15px;
}

textarea.inputbig 
{
	
	width : 740px;
	height :300px;

	border : 2px #f4f57 solid;

	border-top-left-radius: 5px;

	border-top-right-radius: 5px;
	
	border-bottom-left-radius: 5px;

	border-bottom-right-radius: 5px;
	
	font-family:sans-serif;

        font-size:20px;

	
 
	padding-top : 15px;
	padding-left : 15px;
}

.inputbig 
{
	
	width : 750px;
	height :56px;
	border-style:solid;
	border : 2px #f4f57 solid;

	border-top-left-radius: 5px;

	border-top-right-radius: 5px;
	
	border-bottom-left-radius: 5px;

	border-bottom-right-radius: 5px;
	
	font-family:sans-serif;

        font-size:20px;

	overflow : auto;

 	resize : none;
	padding-top : 15px;
	padding-left : 15px;
	padding-bottom : 15px;
}

#mid
{
	 
	position : absolute;
	
	border : 4px black solid;
	top : 250px;
	
	left : 100px;
	
	right:100px;

	height : 800px;
	
	border-top-left-radius: 10px;

	border-top-right-radius: 10px;

 	border-bottom-left-radius: 10px;

	border-bottom-right-radius: 10px;

	background-color : white;
	padding-top:70px;
	padding-bottom:150px;
	padding-left:150px;
	
	padding-right:150px;

	font-size : 30px;

}
#footer {
	position : relative;
	top :900px;
	background-color : #202425;
	padding-top : 30px;
	padding-left : 20px;
	height :200px;
	
	
}


.t1 {
	
	border-collapse: separate;
    border-spacing: 40px 10px;
}

.t1 thead
{
	color :#8e9091;
	font-size : 30px;		
	font-weight : 1300px;
	font-family : "times new roman";
}

.t1 tbody
{
	
	font-size : 20px;		
	font-weight : 900px;
	font-family : "times new roman";
	
color : #4c4e4f;
}

#network
{	
	color : #8e9091;	
	font-size : 30px;		
	font-weight : 1300px;
	font-family : "times new roman";
	padding-left : 50px;
}

#join
{
	position : relative;
	float : right;
	right : 150px;
	align : center;
	font-size : 20px;		
	font-weight : 1300px;
	font-family : "times new roman";
	
	top : 10px;
	color : #4c4e4f;
}




#info 
{
	position : absolute;
	float : left ;
	left : 10px;
	top : 50px;	
}
.inputsmall 
{
	
	width : 370px;
	height :50px;

	border : 2px #f4f57 solid;

	border-top-left-radius: 5px;

	border-top-right-radius: 5px;

	
	border-bottom-left-radius: 5px;

	border-bottom-right-radius: 5px;
	
font-family:sans-serif;

        font-size:20px;

 	resize : none;
	padding-top : 15px;
	padding-left : 15px;
}
.error 
{
	color : red;
	width : 750px;
	height :50px;

	border : 2px #f4f57 solid;

	border-top-left-radius: 5px;

	border-top-right-radius: 5px;
	
	border-bottom-left-radius: 5px;

	border-bottom-right-radius: 5px;
	
	font-family:sans-serif;

        font-size:20px;

	overflow : auto;

 	resize : none;
	padding-top : 15px;
	padding-left : 15px;
}

.submit
{

background-color : #a30000;
	
font-family: comic sans ms;
	
font-size : 20px;

color : white;
	
text-align : center;
	
margin-left : 40%;
	
margin-bottom : 30px;
	
border-top-left-radius: 10px;

	border-top-right-radius: 10px;

	border-bottom-left-radius: 10px;

	border-bottom-right-radius: 10px;

}
#fb
{
	border:2px solid black;
}


.error 
{
	color : red;
	width : 750px;
	height :50px;
	border : 2px #f4f57 solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-family:sans-serif;
        font-size:15px;
	overflow : auto;
 	resize : none;
	padding-top : 15px;
	padding-left : 15px;
}

